@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&display=swap');

.top_bar{
    background-color:rgba(255, 154, 154, 0.664);
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 0px 0px 0px 20px;
}
.top_bar_text{
    color: white;
    font-size:xx-large;
    font-family: "Abril Fatface";
    letter-spacing: 10px;
}